mixin Layer(attr)
  // section.pxl-layer 
  //- layer state off
  input.pxl-layer--state-off(
    type="radio",
    id=attr.name + "--state-off",
    name=attr.name,
    checked
  )

  section.pxl-layer(class=attr.class)
    //- layer state on
    input.pxl-layer--state-on(
      type="radio",
      id=attr.name + "--state-on",
      name=attr.name,
      checked=attr.checked
    )

    //- layer container
    .pxl-layer__container
      .pxl-layer__wrapper
        //- layer background
        label.pxl-layer__background(for=attr.name+"--state-off")

        //- layer body
        .pxl-layer__body(
          data-inner-position=attr.innerPosition,
          data-inner-animation=attr.innerAnimation
        )
          //- layer inner
          .pxl-layer__inner
            block
  // ## section.pxl-layer 
