extends ./Base/layout

block PageSettings
  - PageSettings.title    = 'Homepage'
  - PageSettings.author   = 'MYB'
  - PageSettings.keywords = 'design, mesign, hotness, brotherhood'

block Layers
  +Layer({
    name: 'modal-register',
    class: 'pxl-modal',
    innerPosition: 'top right',
    innerAnimation: 'right to left'
  })
    +modal__header
      .pxl-modal__header__title
        h5 Modal Title
      label.pxl-modal__header__close-button(for="modal-register__state-off") &times;
    +modal__body
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsa dicta minima minus, laudantium nulla eaque cum dolorum repudiandae excepturi veniam aut officiis harum quae nobis veritatis inventore dolorem quas.
    +modal__footer
      .pxl-tooltip--trigger
        +tooltip({ position: 'top', style: 'min-width: 80px;' })
          span Cancel form
        label(for="modal-register__state-off").button.is-outline Cancel
    
  +Layer({
    type: 'SideNavigation',
    name: 'side-navigation',
    class: 'pxl-side-navigation',
    checked: false,
    innerPosition: 'top left',
    innerAnimation: 'left to right'
  })
    +side-navigation
      .has-text-right
        label.pxl-side-navigation__close-button(for="side-navigation__state-off") &times;
      .field
        .control
          input.input.is-rounded(type='text', placeholder='Search')
      aside.menu
        p.menu-label
          | General
        ul.menu-list
          li
            a Dashboard
          li
            a Customers
        p.menu-label
          | Administration
        ul.menu-list
          li
            a Team Settings
          li
            a.is-active Manage Your Team
            ul
              li
                a Members
              li
                a Plugins
              li
                a Add a member
          li
            a Invitations
          li
            a Cloud Storage Environment Settings
          li
            a Authentication
        p.menu-label
          | Transactions
        ul.menu-list
          li
            a Payments
          li
            a Transfers
          li
            a Balance

block Body
  .pxl-main-layer__background(style="background-image: url(https://wallpapersmug.com/download/5120x2880/b20ee7/avengers-infinity-war-don-cheadle-robert-downey-jr-josh.jpg)")

  +main-navbar

  +main-content
    .pxl-container
      .pxl(pxl-grid="flex" pxl-grid-columns="in: 2; md: 4")

      .pxl(pxl="grid: flex; grid-columns: 2" pxl-md="grid-columns: 4")

    .pxl-container
      .pxl-wrap.pxl-flex(pxl-column="in: 3; md: 5")
        .pxl-col
          span.amazing.box-1 .pxl-col
        .pxl-col
          span.amazing.box-2 .pxl-col
        .pxl-col(pxl-w-md="5-2")
          span.amazing.box-3 .pxl-col
        .pxl-col
          label.amazing.box-2(for="modal-register__state-on") Open Layer
        .pxl-col
          span.amazing.box-3 .pxl-col
      
      .pxl-wrap.pxl-flex(
        pxl-column="in: 4; md: 5"
        pxl-justifyContent="md: center"
      )
        .pxl-col
          span.amazing.box-1 .pxl-col
        .pxl-col
          span.amazing.box-2 .pxl-col
        .pxl-col(pxl-w="12")
          span.amazing.box-3 .pxl-col
        .pxl-col
          span.amazing.box-1 .pxl-col
        .pxl-col(
          pxl-w="md: 1-1",
          pxl-flexShrink="md: 0",
          pxl-order="lg: first",
          pxl-display="in: hidden; sm: block",
          pxl-px="in: 5"
        )
          span.amazing.box-2 .pxl-col
      
      .pxl-wrap.pxl-flex(
        pxl-column="in: 2; md: 3; lg: 5",
        pxl-justifyContent="in: center; md: start",
        pxl-alignItems="in: center",
        pxl-gapless
      )
        .pxl-col(pxl-px="in:2; md:8")
          span.amazing.box-1 .pxl-col
        .pxl-col
          span.amazing.box-2 .pxl-col
        .pxl-col
          span.amazing.box-3 .pxl-col
          
      .pxl-wrap.pxl-masonry(
        pxl-column="in: 1; sm: 2; md: 3; lg: 4"
      )
        .pxl-col
          img(src="https://images.pexels.com/photos/1459505/pexels-photo-1459505.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/1769307/pexels-photo-1769307.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/804605/pexels-photo-804605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/433989/pexels-photo-433989.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/1166430/pexels-photo-1166430.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/1461264/pexels-photo-1461264.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/1858115/pexels-photo-1858115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/910086/pexels-photo-910086.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/2099116/pexels-photo-2099116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/2097475/pexels-photo-2097475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
        .pxl-col
          img(src="https://images.pexels.com/photos/1813252/pexels-photo-1813252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="")
  +main-footer
