meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

title #{pageInfo.title}

if pageInfo.description
  meta(name="description", content=pageInfo.description)
if pageInfo.author
  meta(name="author", content=pageInfo.author)
if pageInfo.keywords
  meta(name="keywords", content=pageInfo.keywords)

block links
  include ./stylesheets
  link(rel="icon", type="image/png", sizes="192x192", href="./favicon.png")

meta(name="theme-color", content="#2B32B2")

if openGraph
  // Facebook Open Graph 
  meta(property="og:type", content="website")
  meta(property="og:url", content=openGraph.url)
  meta(property="og:title", content=openGraph.title)
  meta(property="og:image", content=openGraph.image)
  meta(property="og:description", content=openGraph.description)
  meta(property="og:site_name", content=openGraph.site_name)
  meta(property="og:locale", content=openGraph.locale)
  meta(property="og:image:height", content=openGraph.image_height)

if twitterCard
  // Twitter Card 
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content=twitterCard.site)
  meta(name="twitter:creator", content=twitterCard.creator)
  meta(name="twitter:url", content=twitterCard.url)
  meta(name="twitter:title", content=twitterCard.title)
  meta(name="twitter:description", content=twitterCard.description)
  meta(name="twitter:image", content=twitterCard.image)
