meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

title #{PageSettings.title}

if PageSettings.description
  meta(name="description", content=PageSettings.description)
if PageSettings.author
  meta(name="author", content=PageSettings.author)
if PageSettings.keywords
  meta(name="keywords", content=PageSettings.keywords)

block Stylesheets
  include ./stylesheets
link(rel="icon", type="image/png", sizes="192x192", href="./favicon.png")

meta(name="theme-color", content=PageSettings.themeColor)

if Object.keys(OpenGraph).length > 0
  // Facebook Open Graph 
  meta(property="og:type", content="website")

  //- Properties ['og:url', 'og:title', 'og:image', 'og:description', 'og:site_name', 'og:locale', 'og:image:height']
  each value, key in OpenGraph
    if key === 'imageHeight'
      meta(property="og:image:height", content=value)
    else
      meta(property="og:" + key, content=value)

if Object.keys(TwitterCard).length > 0
  // Twitter Card 
  meta(name="twitter:card", content="summary")

  //- Names ['twitter:site', 'twitter:creator', 'twitter:url', 'twitter:title', 'twitter:description', 'twitter:image']
  each value, key in TwitterCard
    meta(name="twitter:" + key, content=value)
