mixin modal(modalName, modalTitle)
  // Modal
  section.pxl-modal
    input(type="radio" id=modalName + "-on"  name=modalName).pxl-modal-trigger--on
    input(type="radio" id=modalName + "-off" name=modalName).pxl-modal-trigger--off
    
    .pxl-modal__container
      .pxl-modal__inner
        label(for=modalName+"-off").pxl-modal__overlay
        .pxl-modal__content
          // Modal Header
          .pxl-modal__header
            .pxl-modal__header__title
              h5= modalTitle
            label(for=modalName+"-off").pxl-modal__header__close &times;
          // Modal Header

          // Modal Body (content)
          .pxl-modal__body
            block
          // Modal Body (content)

          // Modal Footer
          .pxl-modal__footer
            button.btn.btn-primary(type='submit') Submit form
          // Modal Footer
  // Modal