mixin overlay(overlayName, checked = false, attr)
  // section.pxl-overlay 
  input.pxl-overlay__state-off(type="radio", id=overlayName + "-off", name=overlayName, checked)

  section.pxl-overlay&attributes(attr)
    input.pxl-overlay__state-on(type="radio", id=overlayName + "-on", name=overlayName, checked=checked)

    .pxl-overlay__container
      .pxl-overlay__wrapper
        label.pxl-overlay__background(for=overlayName+"-off")
        block
  // /section.pxl-overlay 

mixin overlay__body(innerPosition, innerAnimation)
  .pxl-overlay__body(data-inner-position=innerPosition, data-inner-animation=innerAnimation)
    .pxl-overlay__inner
      block